  html, body { margin: 0; padding: 0; height: 100%; width: 100%; overflow: hidden;  }
  body { text-align: center; padding-top: 150px;}
  h1 { font: 29px "Open Sans",Helvetica,sans-serif; text-align: center; padding-top: 10px; margin-top: 5px; font-weight: 700;}
  body { font: 16px "Open Sans",Helvetica,sans-serif; color: #2e3836; background: linear-gradient(
    rgba(0, 0, 0, .3),
    rgba(0, 0, 0, .3)), url(./pix/background.jpg) center; background-size: cover;}
  a { color: #2e3836; text-decoration: none; }
  a:hover { color: #ed542b; text-decoration: none; transition: 0.7s }

.col-md-8 {
    flex: 0 0 85.6666666667%;
    max-width: max-content;
}

h1.login-heading{   
    background-color: #ed542b;
    background-image: url(./pix/logo.svg);
    background-repeat: no-repeat;
    background-position: center 20px;
	background-size: 330px;
    height: 100px;
    padding: 20px;
    margin: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    clip-path: inset(50%);
    border: 0;
}

.login-panel {
    background-color: #ffffff;
    padding: 20px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0rem;
    margin-left: 0rem;
}

@media (min-width: 768px){
.col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
}
}

.login-option h2 {
    font-size: 1.171875rem;
    margin-bottom: 20px;
    font-weight: 500;
}

.login-option .description {
    min-height: 8rem;
}

.login-option.real {
    padding-top: 10px;
}

.login-option.guest {
    padding-left: 25px;
	padding-bottom: 20px;
    padding-top: 10px;

}

.login-option.real .btn{
    color: #fff;
    background-color: #009fee;
    font-weight: 700;
	padding: 10px;
	border-radius: 10px;
}

.login-option.guest .btn{
    color: #fff;
    background-color: #712177;
    font-weight: 700;
	padding: 10px;
	border-radius: 10px;


}

.justify-content-center {
    justify-content: center!important;
}



#login-holder {
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    /* box-sizing: border-box; */
}

.login-option.real .btn:hover {
    background-color: #0076b1;
    transition: 0.5s;
}

.login-option.guest .btn:hover {
    background-color: #3f1242;
    transition: 0.5s;
}


/*.d-none {
    display: none!important;
}

@media(min-width: 1200px){
.d-xl-inline {
    display: inline!important;
}
}
*/

.login-container {
	background-color: transparent;
	box-shadow: none;
	padding-top: 0rem;
	padding-bottom: 3rem;
	padding-left: 0rem;
	padding-right:0rem;
	min-width: 390px;
}

@media (min-width: 768px){
.login-container {
    max-width: 100%;
}
}

.pagelayout-login #page {
    background: transparent;
    background-image: none;
}

/* Rays fix for mobile view */
@media only screen 
and (max-device-width: 1000px)
{ 
body {
    padding-top: inherit;
	 }

.login-container {
    margin-right: 30px;
    min-width: 360px;
    }
}

.guest-login {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 20px;
	margin-top: 10px;
}

@media (max-width: 526px){
	h1.login-heading{   
    background-color: #ed542b;
    background-image: url(./pix/logo.svg);
    background-repeat: no-repeat;
    background-position: center 20px;
	background-size: 300px;
    height: 100px;
    padding: 20px;
    margin: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
}

 a#guest-login-button { color: #2e3836; text-decoration: none; }
  a#guest-login-button:hover { color: #ed542b; text-decoration: none; transition: 0.7s }
  
  .video-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1; /* Send it behind other content */
}

#bgVideo {
  width: 100%; /* Set the video width to cover the whole container */
  height: 100%; /* Set the video height to cover the whole container */
  object-fit: cover; /* Maintain aspect ratio and cover container */
}