  html, body { margin: 0; padding: 0; height: 100%; width: 100%; overflow: hidden;  }
  body { text-align: center; padding-top: 150px;}
  h1 { font: 29px "Open Sans",Helvetica,sans-serif; text-align: center; padding-top: 10px; margin-top: 5px; font-weight: 700;}
  body { font: 16px "Open Sans",Helvetica,sans-serif; color: #ffffff; background: linear-gradient(
    rgba(0, 0, 0, .2),
    rgba(0, 0, 0, .2)), url(./pix/background.jpg); background-size: cover;}
  a { color: #dc8100; text-decoration: none; }
  a:hover { color: #fff; text-decoration: none; }

.col-md-8 {
    flex: 0 0 85.6666666667%;
    max-width: max-content;
}

h1.login-heading{   
    background-color: #ffffffc7;
    background-image: url(./pix/logo.png);
    background-repeat: no-repeat;
	background-size: contain;
    background-position: center 0px;
    height: 150px;
	width: 300px;
    padding: 20px;
    margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;

}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    clip-path: inset(50%);
    border: 0;
}

.login-panel {
    background-color: #002140de;
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0rem;
    margin-left: 0rem;
}

@media (min-width: 768px){
.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
}

.login-option h2 {
    font-size: 1.171875rem;
    margin-bottom: 20px;
    font-weight: 500;
}

.login-option .description {
    min-height: 8rem;
	margin-right: 5px;
}

.login-option.real {
    padding-top: 10px;
	padding-right: 25px;
}

.login-option.guest {
    padding-left: 25px;
	padding-bottom: 20px;
    padding-top: 10px;

}

.login-option.real .btn{
    color: #fff;
    background-color: #009fee;
    font-weight: 700;
	padding: 10px;
	border-radius: 10px;
}

.login-option.guest .btn{
    color: #fff;
    background-color: #e22f24;
    font-weight: 700;
	padding: 10px;
	border-radius: 10px;


}

.justify-content-center {
    justify-content: center!important;
}



#login-holder {
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    /* box-sizing: border-box; */
}

.login-option.real .btn:hover {
    background-color: #0076b1;
    transition: 0.5s;
}

.login-option.guest .btn:hover {
    background-color: #67100a;
    transition: 0.5s;
}


.d-none {
    display: none!important;
}

@media(min-width: 1200px){
.d-xl-inline {
    display: inline!important;
}
}

.login-container {
	background-color: transparent;
	box-shadow: none;
	padding-top: 0rem;
	padding-bottom: 3rem;
	padding-left: 0rem;
	padding-right:0rem;
	min-width: 390px;
}

@media (min-width: 768px){
.login-container {
    max-width: 100%;
}
}

.pagelayout-login #page {
    background: transparent;
    background-image: none;
}

/* Rays fix for mobile view */
@media only screen 
and (max-device-width: 1000px)
{ 
body {
    padding-top: inherit;
	 }

.login-container {
    margin-right: 30px;
    min-width: 360px;
    }
}

#help-container{
	background-color: white;
    height: 57px;
	border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
	border: 4px solid grey;
}

.button {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,155,255,1) 90%);
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 8px;
  cursor: pointer;
  float: right;
  border-radius: 25px;
}
.button:hover{
	transition: 0.5s;
	opacity: 0.8;
}